label {
    color: #101357;
}
.content-box {
    border: 3px solid #2193b0;
    width: 100px;
}
.content-before {
    text-align: center;
    color: #101357;
}
.content-before h2 {
    padding: 10px;
    margin: 0;
}
.content-after {
    opacity: 0;
    display: none;
    padding: 20px;
}
.login-form {
    padding: 10px;
    width: 95%;
    margin-bottom: 20px;
    display: table;
    clear: both;
}
.form-group {
    margin-bottom: 20px;
}
input {
    border: none;
    outline: none;
    width: 100%;
}
.input-box {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border: 1px solid #2193b0;
    padding: 5px 10px;
}
.input-box.error {
    border: 1px solid red;
}
.btn-submit {
    background-color: white;
    padding: 7px 20px;
    float: right;
    border: 1px solid #2193b0;
    font-weight: bold;
    color: #101357;
}